.cart-the-hole {
  position: fixed;
  top: 7rem;
  right: 3rem;
  width: 14rem;
  height: 20rem;
  border: var(--primary-600) solid 1px;
  border-radius: 14px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.cart-the-hole h6 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem auto;
}
.cart-button {
  width: 100%;
  border: none;
  border-radius: 14px;
  padding: 10px 0;
  font-weight: 600;
  transition: all 0.5s;
}
.item-description {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item-description p {
  font-weight: 1.2rem;
}
.item-and-quantity {
  display: flex;

  /* justify-content: space-between;
  align-items: center; */
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.cart-items {
  overflow-y: scroll;
  flex-grow: 1;
  padding: 0.5rem;
}
.item {
  border: 1px solid var(--primary-600);
  border-radius: 10px;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;

  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  /* background-color: red; */
}
.item-title {
  font-size: 1.1rem;
}
.item img {
  width: 4rem;
  height: 5rem;
}
/* checkout */
.checkout-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.checkout {
  position: relative;
  border: 1px var(--grey-200) solid;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout-headers {
  display: flex;
  align-items: center;
  width: 18rem;
  gap: 1rem;
}
.checkout-headers img {
  height: 9rem;
}
.checkout-the-hole {
  margin-top: 3rem;
}
.checkout-item-control {
  display: flex;
  /* background-color: red; */
  padding-bottom: 1rem;
  align-items: center !important;
}
.checkout-item-control button {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 10px;
}
.checkout-item-control p {
  padding: 0 1rem;
  padding-top: 1rem;
}
.delete-checkout {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.6rem;
  width: 1.7rem;
  height: 1.7rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
